header{
    text-align: center;
    color: white;
    background-image: linear-gradient(to right,lightblue, midnightblue, lightblue);
}
.footer{
    text-align: center;
    background-image: linear-gradient(to right,lightblue, midnightblue, lightblue);
    color: white;
}

a {
    color: white;
}

.nav{
    text-align: center;
    color: white;

}
.nav ul li {
    display:inline;
  }
.nav ul{
    list-style-type: none;
    padding: 0;
}
body{
    background-color: lightblue; 
    text-align: center;
    margin: 1cm;
    color:black;  
}
hr { 
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), lightblue, rgba(0, 0, 0, 0)); 
}
img {
    border-radius: 50%;
    align-content: left;
}
.leftcolumn{
    width: 50%;
    min-height: 100%;
      float: left; 
      text-align: right;
    text-align: center;
  }
  
  .rightcolumn{
    width: 50%;
    min-height: 100%;
      float: right; 
      text-align: left;
}